{% extends 'header.html' %}
{% block title %}Tasks List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 style="text-align: center;">View All Tasks</h2>
    
    <form method="get" action="{{ url_for('get_tasks') }}" class="form-inline mb-3">
        <div class="form-group mr-2">
            <input type="text" class="form-control" name="search" placeholder="Search tasks">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>

        <a href="{{ url_for('create_task') }}" class="btn btn-success ml-2">Add New Task</a>  

    </form>
    
    <div class="row">
        {% for task in tasks %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Task Name:</strong>{{ task.title }}</h5>
                        <p class="card-text"><strong>Task Description:</strong>{{ task.description }}</p>
                        <p class="card-text"><strong>Task Deadline:</strong> {{ task.deadline }}</p>
                        <p class="card-text"><strong>Task Status:</strong> {{ task.status }}</p>
                        <div class="mt-2">
                            <a href="{{ url_for('edit_task', task_id=task.id) }}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="{{ url_for('delete_task', task_id=task.id) }}" class="btn btn-danger btn-sm ml-2">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    
</div>
{% endblock %}
