{% extends 'header.html' %}
{% block title %}Task List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Tasks</h1>
    <ul>
        {% for task in tasks %}
            <li>{{ task.title }}</li>
            <li>{{ task.description }}</li>
            <li>{{ task.deadline }}</li>
            <li>{{ task.status }}</li> 
            <li>
                <a href="{{ url_for('edit_task', task_id=task.id) }}" class="btn btn-warning btn-sm ml-2">Edit</a>
                <a href="{{ url_for('delete_task', task_id=task.id) }}" class="btn btn-danger btn-sm ml-2">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}